<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.CompanyMapper">
    <insert id="registerCompany" useGeneratedKeys="true" keyProperty="no">
        insert into Company(companyID, businessCode, name, createDate)
        VALUES (#{companyID}, hex(aes_encrypt(#{businessCode}, 'okiwi')), #{name}, NOW())
    </insert>
    <select id="checkCompanyNameExists" resultType="_boolean">
        select EXISTS(select * from Company WHERE name = #{name})
    </select>
    <select id="checkCompanyBusinessCodeExists" resultType="_boolean">
        select EXISTS(select * from Company WHERE aes_decrypt(unhex(businessCode), 'okiwi') = #{code})
    </select>
    <select id="getCompanyByCompanyID" resultType="Company">
        select *
        from Company
        WHERE companyID = #{companyID}
    </select>
</mapper>