<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.CompanyMemberMapper">
    <resultMap id="CompanyProfileMember" type="com.model.company.CompanyProfileMember">
        <result column="profile_img" property="profile_img" javaType="com.model.common.MFile"
                typeHandler="com.middleware.JsonObjectTypeHandler"/>
    </resultMap>
    <select id="checkUserMemberOfCompany" resultType="_boolean">
        select EXISTS(select * from company_member WHERE user_no = #{userNo} AND company_no = #{companyNo})
    </select>
    <insert id="requestCompanyJoin">
        insert into company_member(user_no, company_no, role, edit_auth, read_auth, request_date, reg_datetime,
                                   revise_date)
        VALUES (#{userNo}, #{companyNo}, 'READY', false, false, now(), now(), now())
    </insert>
    <select id="checkUserReadAuth" resultType="_boolean">
        select read_auth
        from company_member
        WHERE user_no = #{userNo}
          AND company_no = #{companyNo}
    </select>
    <select id="checkUserEditAuth" resultType="_boolean">
        select edit_auth
        from company_member
        WHERE user_no = #{userNo}
          AND company_no = #{companyNo}
    </select>
    <update id="updateUserReadAuth">
        update company_member
        SET read_auth   = !read_auth,
            edit_auth   = if(read_auth, edit_auth, false),
            role        = 'PERSONAL',
            revise_date = NOW()
        WHERE user_no = #{userNo}
    </update>
    <update id="updateUserEditAuth">
        update company_member
        SET edit_auth   = !edit_auth,
            read_auth   = if(edit_auth, true, edit_auth),
            role        = 'PERSONAL',
            revise_date = now()
        WHERE user_no = #{userNo}
    </update>
    <select id="getUserRoleOfCompany" resultType="ROLE">
        select role
        from company_member
        WHERE user_no = #{userNo}
          AND company_no = #{companyNo}
    </select>
    <delete id="deleteUserMember">
        delete
        from company_member
        WHERE user_no = #{userNo}
    </delete>
    <select id="checkUserHasCompany" resultType="_boolean">
        select EXISTS(select * from company_member WHERE user_no = #{userNo})
    </select>
    <select id="getUserCompany" resultType="Company">
        select *
        from company
        WHERE no = (select company_no from company_member WHERE user_no = #{userNo})
    </select>
    <insert id="registerCompanyMaster">
        insert into company_member(user_no, company_no, role, edit_auth, read_auth, request_date, reg_datetime,
                                   revise_date)
        VALUES (#{userNo}, #{companyNo}, 'OWNER', true, true, now(), now(), now())
    </insert>
    <select id="getCompanyMemberList" resultType="CompanyMemberListData">
        select company_member.no as member_no,
               user_no,
               company_no,
               role,
               edit_auth,
               read_auth,
               u.name,
               u.email
        from company_member
                 left join user u on company_member.user_no = u.no
        WHERE company_no = #{companyNo}
    </select>
    <select id="getCompanyMemberTagList" resultType="CompanyProfileMember" resultMap="CompanyProfileMember">
        select company_member.no, u.name, u.profile_img
        from company_member
                 left join user u on company_member.user_no = u.no
        WHERE company_member.company_no = #{company_no}
    </select>
    <select id="getCompanyMemberInfoByMemberNo" resultType="CompanyMember">
        select *
        from company_member
        WHERE no = #{member_no}
    </select>
    <select id="checkMemberIsCompanyMember" resultType="">
        select company_no = #{company_no}
        from company_member
        WHERE no = #{member_no}
    </select>
    <select id="getCompanyMemberTagList" resultType="CompanyProfileMember" resultMap="CompanyProfileMember">
        select company_member.no, u.name, u.profile_img
        from company_member
                 left join user u on company_member.user_no = u.no
        WHERE company_member.no = #{member_no}
    </select>
</mapper>