<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.UserMapper">
    <resultMap id="User" type="com.model.User">
        <result column="profile_img" property="profile_img" javaType="com.model.common.MFile"
                typeHandler="com.middleware.JsonObjectTypeHandler"/>
    </resultMap>
    <select id="checkUserExists" resultType="_boolean">
        select EXISTS(select * from user WHERE email = #{email} OR phone = #{phone})
    </select>
    <insert id="registerUser" keyProperty="no" useGeneratedKeys="true">
        insert into user(name, email, phone, password, agree_data, marketing_agree, marketing_agree_date, profile_img,
                         plugin_alarm, service_alarm, reg_datetime, last_login_date)
        VALUES (#{name}, #{email}, #{phone}, hex(aes_encrypt(#{password}, 'okiwi')),
                #{agree_data, typeHandler=com.middleware.JsonObjectTypeHandler}, #{marketing_agree},
                IF(#{marketing_agree} = false, null, NOW()), #{profile_img}, #{plugin_alarm}, #{service_alarm}, NOW(),
                NOW())
    </insert>
    <select id="loginUser" resultType="User">
        select *
        from user
        WHERE email = #{email}
          AND aes_decrypt(unhex(password), 'okiwi') = #{password}
    </select>
    <select id="findUserEmail" resultType="string">
        select email
        from user
        WHERE phone = #{phone}
    </select>
    <select id="checkUserEmailExists" resultType="_boolean">
        select EXISTS(select * from user WHERE email = #{email})
    </select>
    <update id="changeUserPassword">
        update user
        SET password = hex(aes_encrypt(#{password}, 'okiwi'))
        WHERE email = #{email}
    </update>
    <update id="changeUserName">
        update user
        SET name = #{name}
        WHERE no = #{userNo}
    </update>
    <update id="changeUserPhone">
        update user
        SET phone = #{phone}
        WHERE no = #{userNo}
    </update>
    <update id="changeUserMarketingAgree">
        update user
        SET marketing_agree      = #{marketing_agree},
            marketing_agree_date = IF(#{marketing_agree} = false, null, NOW())
        WHERE no = #{userNo}
    </update>
    <select id="getModalMyInfo" resultType="User" resultMap="User">
        select *
        from user
        WHERE no = #{userNo}
    </select>
    <update id="changeUserEmail">
        update user
        SET email = #{email}
        WHERE no = #{userNo}
    </update>
    <select id="checkOtherUserEmailExists" resultType="_boolean">
        select EXISTS(select * from user WHERE no != #{userNo} AND email = #{email})
    </select>
    <select id="checkUserPhoneExists" resultType="_boolean">
        select EXISTS(select * from user WHERE no != #{userNo} AND phone = #{phone})
    </select>
    <select id="checkUserPasswordValid" resultType="_boolean">
        select password = aes_decrypt(unhex(#{password}), 'okiwi')
        from user
        WHERE no = #{userNo}
    </select>
    <delete id="changeWithdrawal">
        delete
        from user
        WHERE no = #{userNo}
    </delete>
    <select id="getUser" resultType="User">
        select *
        from user
        where no = #{user_no};
    </select>
</mapper>