.alert {
    position: fixed;
    z-index: 9999;
    bottom: 120px;
    left: 50%;

    transform: var(--translate-lr-center);

    margin-bottom: 0;
    word-break: keep-all;
    border: none;
    border-radius: 5px;
}

.alert.alert-danger {
    color: var(--basic-white);
    background-color: var(--brand-orange);
    left: initial;
    bottom: 80px;
    right: 80px;
    transform: none;
}

.modal .modal-content {
    border-radius: 10px;
}

.modal .modal-header {
    border-bottom: none;
}

.modal .modal-body {
    padding: 32px 48px 48px;
}

.modal .close {
    opacity: 1;
}

.modal .close:not(:disabled):not(.disabled):focus,
.modal .close:not(:disabled):not(.disabled):hover {
    opacity: 1;
}

.modal-dialog-scrollable .modal-body::-webkit-scrollbar {
    width: 4px;
    background-color: var(--brand-purple-opacity);
}

.modal-dialog-scrollable .modal-body::-webkit-scrollbar-thumb {
    background-color: var(--brand-purple);
}