#l-header {
    padding: 8px 16px;
    background-color: var(--gray-dark-low);
    display: flex;
}

#l-header ._option {
    display: flex;
}

#l-header ._option > div {
    cursor: pointer;
}

#l-header ._option > div:not(:last-child) {
    margin-right: 28px;
}

#plugin-left-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 92px;
    border-right: 2px solid var(--gray-high-light);
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    flex-wrap: wrap;
}