<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.query.DataBaseMapper">
    <select id="getDataBase" resultType="DataBase">
        select *
        from `database`
        WHERE no = #{database_no}
    </select>
    <insert id="createDataBase" keyProperty="no" useGeneratedKeys="true">
        insert into `database`(company_no, name, description, database_type, create_date, update_date)
        VALUES (#{company_no}, #{name}, #{description}, #{database_type}, NOW(), NOW())
    </insert>
    <select id="checkDataBaseExists" resultType="_boolean">
        select EXISTS(select * from `database` WHERE no = #{database_no})
    </select>
    <select id="checkDataBaseNameExistsOnSameCompany" resultType="_boolean">
        select EXISTS(select * from `database` WHERE company_no = #{company_no} AND name = #{name})
    </select>
    <select id="checkTokenValid" resultType="_boolean">
        select NOT EXISTS(select *
                          from `database`
                                   left join `table` t on `database`.no = t.database_no
                                   left join `column` c on t.id = c.table_id
                          WHERE no = #{database_no}
                            AND (t.id = #{token} OR c.id = #{token}))
    </select>
    <select id="getDatabases" resultType="Database" parameterType="int">
        select *
        from `database`
        where company_no = #{company_no}
    </select>
    <delete id="deleteDataBase">
        delete
        from `database`
        WHERE no = #{no}
    </delete>
</mapper>