<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.chat.ChatMessageMapper">
    <resultMap id="ChatMessage" type="com.model.chat.chatmessage.ChatMessage">
        <result column="message_json" property="message_json" typeHandler="com.middleware.JsonObjectTypeHandler"/>
    </resultMap>
    <insert id="sendMessage" useGeneratedKeys="true" keyProperty="no">
        insert into chat_message(channel_no, company_member_no, parent_message_no, type, content, is_edit, message_json,
                                 reg_datetime, updated_datetime)
        VALUES (#{channel_no}, #{company_member_no}, #{parent_message_no}, #{type}, #{content}, false,
                #{message_json, typeHandler=com.middleware.JsonObjectTypeHandler},
                now(), now())
    </insert>
    <delete id="deleteMessage">
        delete
        from chat_message
        WHERE no = #{no}
    </delete>
    <update id="updateMessage">
        update chat_message
        SET content          = #{content},
            is_edit          = true,
            updated_datetime = now()
        WHERE no = #{no}
    </update>
    <select id="getChannelMessages" resultType="ChatMessage" resultMap="ChatMessage">
        select *
        from chat_message
        WHERE channel_no = #{channel_no}
        ORDER BY reg_datetime DESC, no
        LIMIT 50
    </select>
    <select id="getChannelNextMessages" resultType="ChatMessage" resultMap="ChatMessage">
        SET @LAST_REG_DATE = (select reg_datetime
                              from chat_message
                              WHERE no = #{last_message_no});
        select *
        from chat_message
        WHERE channel_no = #{channel_no}
          AND (reg_datetime <![CDATA[<]]> @LAST_REG_DATE OR (reg_datetime = @LAST_REG_DATE AND no <![CDATA[<]]> #{last_message_no}))
        ORDER BY reg_datetime DESC, no
        LIMIT 50
    </select>
    <select id="getChannelLastMessage" resultType="ChatMessage" resultMap="ChatMessage">
        select *
        from chat_message
        WHERE channel_no = #{channel_no}
        ORDER BY reg_datetime DESC, no DESC
        LIMIT 1
    </select>
    <select id="getChatMessageByNo" resultType="ChatMessage" resultMap="ChatMessage">
        select *
        from chat_message
        WHERE no = #{no}
    </select>
</mapper>