<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.chat.MessageSaveMapper">
    <resultMap id="ChatMessage" type="com.model.chat.chatmessage.ChatMessage">
        <result column="message_json" property="message_json" typeHandler="com.middleware.JsonObjectTypeHandler"/>
        <result column="mentions" property="mentions"
                javaType="com.model.chat.chatmessage.interactions.ChatMessageMention"
                typeHandler="com.middleware.JsonArrayObjectTypeHandler"/>
    </resultMap>
    <insert id="saveMessage">
        insert into message_save(chat_message_id, company_member_no, reg_datetime)
        VALUES (#{chat_message_id}, #{company_member_no}, now())
    </insert>
    <delete id="deleteSavedMessage">
        delete
        from message_save
        WHERE chat_message_id = #{chat_message_id}
          AND company_member_no = (select no from company_member WHERE user_no = #{user_no})
    </delete>
    <select id="getSavedMessages" resultType="ChatMessage" resultMap="ChatMessage">
        select *,
               (select JSON_ARRAYAGG(JSON_OBJECT(
                       'no', m.no,
                       'chat_message_id', chat_message_id,
                       'company_member_no', m.company_member_no))
                from message_mention m
                WHERE m.chat_message_id = chat_message.id) as mentions
        from chat_message
        WHERE id in (select chat_message_id
                     from message_save
                     WHERE message_save.company_member_no = (select no from company_member WHERE user_no = #{user_no}))
    </select>
    <select id="checkUserSavedMessage" resultType="_boolean">
        select EXISTS(select *
                      from message_save
                      WHERE chat_message_id = #{id}
                        AND company_member_no = (select no from company_member WHERE user_no = #{user_no}))
    </select>
</mapper>