<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.crm.TaskCommentMapper">
    <select id="getTaskComments" resultType="TaskComment">
        select *
        from task_comment
        WHERE task_id = #{task_id}
        ORDER BY reg_datetime DESC
    </select>
    <insert id="addComment" keyProperty="no" useGeneratedKeys="true">
        insert into task_comment(task_id, member_no, type, content, reg_datetime, updated_datetime)
        VALUES (#{task_id}, #{member_no}, #{type}, #{content}, now(), now())
    </insert>
    <select id="getTaskCommentByNo" resultType="TaskComment">
        select *
        from task_comment
        WHERE no = #{no}
    </select>
    <delete id="deleteComment">
        delete
        from task_comment
        WHERE no = #{comment_no}
    </delete>
</mapper>